
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Index</h1>

@*_SliderPartial*@

@await Component.InvokeAsync("_SliderPartial");

@*_PopulerDestinations*@
@await Component.InvokeAsync("_PopulerDestinations");


@*_Statistics*@
@await Component.InvokeAsync("_Statistics");

@*_Feature*@
@await Component.InvokeAsync("_Feature");

@*_SubAbout*@
@await Component.InvokeAsync("_SubAbout");

@*_Testimonial*@
@await Component.InvokeAsync("_Testimonial");


